img { margin-left: 50px; margin-top: 50px}
aside {background-color: aqua; float: left}
.s1 {background-color: aquamarine}
.s2 {background-color: brown}
.p-3 {margin-top: 200px; height: 200px}
button { height: 100px; width: 300px;}